.msg{
    padding: 15px 0;
}

img{
    width: 23px;
    height: 23px;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center
}

.text p{
    margin-left: 15px;
    text-align: center;
    font-weight: 700;
}