.questionScreen{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FB6B6B;
    border: 1px solid #DBDBDB;
}

.navBar{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 45px 0;
}

.navBar img{
    width: 52px;
    height: 60px;
}

.navBar p{
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: #FFFFFF;
}

.questions{
    margin-bottom: 180px;   
}

.questions > li{
    margin-top: 20px;
}

.extend{
    margin-bottom: 250px;
}
