.homeScreen{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FB6B6B;
    border: 1px solid #DBDBDB;
}

.homeScreen img{
    width: 136px;
    height: 161px;
    margin-bottom: 20px;
}

.homeScreen p{
    font-family: 'Righteous', cursive;
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.loginRecall{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 54px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.loginRecall p{
    font-size: 18px;
    color: #D70900;
    margin-bottom: 0;
}