.boxQuestions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 65px;
    padding: 0 10px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.boxQuestions ion-icon{
    font-size: 25px;
}

.pDefault{
    color: #333333;
    font-weight: 700;
    font-size: 16px;
}

.style1, .style2, .style3{
    text-decoration-line: line-through;
}

.style1{
    color: #FF3030;
}

.style1 ion-icon{
    color: #FF3030;
}

.style2{
    color: #FF922E;
}

.style2 ion-icon{
    color: #FF922E;
}

.style3{
    color: #2FBE34;
}

.style3 ion-icon{
    color: #2FBE34;
}

.questionOpen{
    width: 300px;
    min-height: 131px;
    background-color: #FFFFD4;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}

.esconder{
    display: none;
}

.questionAligned{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.open{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 131px;
}

.open p{
    padding: 10px 10px 0 10px;
    margin-bottom: 20px;
    text-align: start;
    font-weight: 400;
    color: #333333;
    font-size: 18px;
}

.arrowQuestion{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 5px;
    right: 10px;
    cursor: pointer;
}

